.navbar {
  background-color: #1e293b;
  padding: 0.1rem 0.2rem;

}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  
}

.nav-links a {
  color: #e0f7ff;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  text-shadow: 0 0 6px #38bdf8;
}

.nav-links a:hover {
  color: #38bdf8;
  text-shadow: 0 0 12px #0ea5e9;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 1rem;
  }
}
